<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="container">
  <h2>Selecione cliente</h2>

  <table class="table table-hover">
    <button type="button" class="btn btn-primary" (click)="carregaTodos()" (click)="openModal(cliente)">Procurar cliente</button>

    <ng-template #cliente>
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"></button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
        <tr>
          <th>Nome</th>
        </tr>
        <tr *ngFor="let agenda of agendas">
          <td>
            {{agenda.nome}}
          </td>
            <button (click)="carregaUm(agenda.id_contato)" (click)="test()" (click)="modalRef.hide()" class=" btn-primary">+</button>
        </tr>
      </table>
      </div>
    </ng-template>
    <tr>

<h2>Adicionar Produto</h2>

    <button type="button" class="btn btn-primary" (click)="carregaTodosP()"  (click)="openModal(produto)">Adicionar produto</button>

    <ng-template #produto>
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()"></button>
      </div>
      <div class="modal-body">
        <table class="table table-hover">
          <h1>Produtos</h1>
          <tr>
            <td>
            <b>Nome</b>
            </td>
            <td>
              <b>Tipo</b>
            </td>
            <td>
              <b>Valor</b>
            </td>
            <td>
              <b>Qtd estoque</b>
            </td>
            <td>
              <b>Seila</b>
            </td>
          </tr>

          <tr *ngFor="let produto of produtos">

            <td>
              {{produto.nome}}
            </td>
            <td>
              {{produto.tipo}}
            </td>
            <td>
              {{produto.valor}}
            </td>
            <td>
              {{produto.quantidade}}
            </td>
            <td>
              {{produto.seila}}
            </td>

              <button (click)="testPedido(produto)" (click)="test2()" class=" btn-primary">+</button>

          </tr>
      </table>
      </div>
    </ng-template>
    </tr>

    <tr><br>
      <a class="btn btn-info" href="/menu">Voltar</a>
    </tr>

    <div *ngIf="testar">
      <table class="table table-hover">
        <thead>
          <H2>Cliente</H2>
          <tr>

            <th>Nome</th>
            <th>Telefone</th>
            <th>Endereco</th>
            <th>Email</th>
            <th>Celular</th>

          </tr>
        </thead>
        <tbody>
          <tr>

            <td>
              {{agendaSelected.nome}}
            </td>
            <td>
              {{agendaSelected.telefone}}
            </td>
            <td>
              {{agendaSelected.endereco}}
            </td>
            <td>
              {{agendaSelected.email}}
            </td>
            <td>
              {{agendaSelected.celular}}
            </td>

          </tr>
        </tbody>
      </table>
    </div>


<div *ngIf="testar2">
      <table class="table table-hover">
        <thead>
          <H2>Produto</H2>
          <tr>

            <th>Nome</th>
            <th>tipo</th>
            <th>valor </th>
            <th>Codigo de barra </th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of listaProduto">


            <td>
              {{produto.nome}}
            </td>
            <td>
              {{produto.tipo}}
            </td>
            <td>
              {{produto.valor}}
            </td>
            <td>
              {{produto.seila}}
            </td>



          </tr>
          <button onclick="document.location.reload(true)" (click)="salvarPedido()" (click)="ok()"  class="btn btn-success" data-dismiss="alert" >Salvar</button>
          <b>Valor Total :</b>   {{total}}


        </tbody>
      </table>
</div>




  </table>
</div>

</body>
</html>
