<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>

<div class="jumbotron">
  <h1>Sistema vendas</h1>
  <nav class="navbar navbar-default">

    <div class="container-fluid">

      <div class="navbar-header">

        <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <div class="navbar-collapse collapse" [collapse]="isCollapsed">
        <ul class="nav navbar-nav">
          <li [ngClass]="{active: activeRoute('/cad/cad-menu')}"><a routerLink="/cad/cad-menu">Cadastrar</a></li>
          <li [ngClass]="{active: activeRoute('/cad/venda')}"><a routerLink="/cad/venda">Vendas</a></li>


          <li [ngClass]="{active: activeRoute('/cad/deleteproduto')}"><a routerLink="/cad/deleteproduto">Produtos</a></li>
          <li [ngClass]="{active: activeRoute('/cad/delete')}"><a routerLink="/cad/delete">Clientes</a></li>
          <li [ngClass]="{active: activeRoute('/cad/edit')}"><a routerLink="/cad/edit">Pedidos</a></li>


        </ul>
      </div>
    </div>


  </nav>
</div>




</body>
</html>
